.Verification {
    width: 90%;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
}

.container-1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.btn-container {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

.btn-generate {
    width: 25%;
    height: 25%;
    border: none;
    outline: none !important;
    color: #ffffff;
    font-weight: 900;
    font-style: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #1098ad;
    transition: all .25s ease;
    /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}

.btn-generate:hover {
    box-shadow: 0 -3px 20px 0 #1098ad;
    outline: none !important;
}

.btn-recording {
    width: 30%;
    height: 25%;
    border: none;
    outline: none !important;
    color: #ffffff;
    font-weight: 900;
    font-style: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #1098ad;
    transition: all .25s ease;
    /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}

.btn-recording:hover {
    box-shadow: 0 -3px 20px 0 #1098ad;
    outline: none !important;
}

.random-number {
    width: 100%;
    height: 40%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: 0 20px 50px rgb(211, 211, 211); */
    /* box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5); */
}

.number {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    opacity: 0.5;
    color: #ffffff;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
}

.refresh-btn {
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.cam-container {
    width: 80%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: #424242;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
    /* box-shadow: 0 20px 50px rgb(211, 211, 211); */
}

/* modal */

.modal-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-message {
    width: 40%;
    height: 40%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #424242;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
}

.modal-text {
    width: 90%;
    height: 50%;
    color: #ffffff;
    /* border: 1px solid red; */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    width: 25%;
    height: 25%;
    border: none;
    outline: none !important;
    color: #ffffff;
    font-weight: 900;
    font-style: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #1098ad;
    transition: all .25s ease;
    /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}

.modal-btn:hover {
    box-shadow: 0 -3px 20px 0 #1098ad;
    outline: none !important;
}

@media only screen and (max-width: 600px) {
    .modal-container {
        width: 100%;
        height: 100%;
    }
    .modal-message {
        width: 100%;
        height: 60%;
    }
    .modal-text {
        width: 90%;
        height: 50%;
    }
    .modal-btn {
        width: 30%;
        height: 20%;
    }
    .Verification {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-1 {
        width: 100%;
        height: 50%;
    }
    /* .random-number {
        font-size: 20px;
        width: 40%;
    } */
    .btn-generate {
        width: 40%;
        height: 50%;
    }
    .btn-recording {
        width: 40%;
        height: 50%;
    }
    .cam-container {
        width: 75%;
        height: 75%;
    }
    .container-2 {
        width: 100%;
    }
    .random-number {
        width: 100%;
        height: 40%;
    }
    .number {
        width: 40%;
        height: 80%;
        font-size: 20px;
    }
    .refresh-btn {
        width: 20%;
        height: 100%;
    }
}