.Verification {
    width: 90%;
    height: 70%;
    display: flex;
}

.container-1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn-container {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-generate {
    width: 25%;
    height: 25%;
    border: none;
    outline: none !important;
    color: #ffffff;
    font-weight: 900;
    font-style: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #1098ad;
    transition: all .25s ease;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}

.btn-generate:hover {
    box-shadow: 0 -3px 20px 0 #1098ad;
    outline: none !important;
}

.btn-recording {
    width: 30%;
    height: 25%;
    border: none;
    outline: none !important;
    color: #ffffff;
    font-weight: 900;
    font-style: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #1098ad;
    transition: all .25s ease;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}

.btn-recording:hover {
    box-shadow: 0 -3px 20px 0 #1098ad;
    outline: none !important;
}

.random-number {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.number {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    opacity: 0.5;
    color: #ffffff;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
}

.refresh-btn {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cam-container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
}

/* modal */

.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-message {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #424242;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
}

.modal-text {
    width: 90%;
    height: 50%;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    width: 25%;
    height: 25%;
    border: none;
    outline: none !important;
    color: #ffffff;
    font-weight: 900;
    font-style: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: #1098ad;
    transition: all .25s ease;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
}

.modal-btn:hover {
    box-shadow: 0 -3px 20px 0 #1098ad;
    outline: none !important;
}

@media only screen and (max-width: 600px) {
    .modal-container {
        width: 100%;
        height: 100%;
    }
    .modal-message {
        width: 100%;
        height: 60%;
    }
    .modal-text {
        width: 90%;
        height: 50%;
    }
    .modal-btn {
        width: 30%;
        height: 20%;
    }
    .Verification {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-1 {
        width: 100%;
        height: 50%;
    }
    .btn-recording {
        width: 30%;
        height: 70%;
    }
    .cam-container {
        width: 75%;
        height: 75%;
    }
    .container-2 {
        width: 100%;
    }
    .random-number {
        width: 100%;
        height: 50%;
    }
    .number {
        width: 40%;
        height: 80%;
        font-size: 20px;
    }
    .refresh-btn {
        width: 20%;
        height: 100%;
    }
}